doctype html
head
script(type='text/javascript').
   document.getElementById('number').innerHTML='<div>new t</div>';

      //- var parser = new DOMParser();
      //- var doc = parser.parseFromString(user.data.Template, "text/html");
      document.getElementById("container").innerHTML  = "  ass as a as asa ";


//-       var number = document.getElementById("number");
//- number.innerHTML = #user.data;


body
  div
   p
    b Hi 
    p#number 0
    #container
    
    //- p #{user.data.NoticeType}
    //- div
    div "zcdsadadsad" 
    div sample  #{user.data}


  div
    