<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="h1 mt-16">Create New Password</div>
    </div>
  </div>
  <!-- / HEADER -->
  <form class="example-form" [formGroup]="resetform">
    <div fxLayout="column" class="form-hazard-creation" style="margin:auto; padding:15px;-webkit-box-shadow: -11px 8px 17px 0px rgba(211,211,211,0.7);
  -moz-box-shadow: -11px 8px 17px 0px rgba(211,211,211,0.7);  box-shadow: -11px 8px 17px 0px rgba(211,211,211,0.7); width:400px;margin-top:70px;">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="New Password" formControlName="newpassword">
        <mat-error *ngIf="resetform.get('newpassword').hasError('required') && (resetform.get('newpassword').dirty || resetform.get('newpassword').touched)">New Password reqiured.</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password"  formControlName="confirmpassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="resetform.hasError('notSame')">Passwords do not match</mat-error> 
      </mat-form-field>
      <div class="form-hazard-creation-btn" fxLayoutAlign="center center">
        <button mat-raised-button color="" class="submit-button" (click)="redirect()" style="margin-right:20px;">Cancel</button>
        <button mat-raised-button color="accent" class="submit-button" (click)="resetpassword()" [disabled]="resetform.invalid">Update</button>
      </div>

    </div>
  </form>
</div>