<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

	<!-- HEADER -->
	<div class="header mat-accent-bg p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
		<div fxLayout="column" fxLayoutAlign="center start">
			<div class="h1 mt-16">Instructions</div>
		</div>
	</div>
	<!-- / HEADER -->
	<div>
		<div fxLayout="column" style="padding: 25px;">
      <h2 style="text-align: left; padding: 10px;">Please Download Form for Sprinkler System testing and Complete </h2>
      <div fxLayout="row" style="padding:10px;">
        <div class="w-100-p" fxLayoutAlign="center center">
         
          
          <a href="/assets/template/Fire-Alarm-Annual-Certification.pdf" download="Fire-Alarm-Annual-Certification.pdf" class = "btn btn-primary btn-link" >Download Fire-Alarm-Annual-Certification.pdf</a>&nbsp;&nbsp;
        
        </div>
      </div>
      
    </div>
  
	</div>
</div>
