<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="search word" aria-label="Number" (keypress)="searchClient(test)"
     [(ngModel)]="test" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete">
        <mat-option  *ngFor="let item of searchResult" [value]="item.ClientId">
          {{ item.ClientName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>