.toggle-cc {
    margin: 0;
    padding-right: 20px;
    float: right;
    cursor: pointer;
}
.submit-button {
        
    display: block;
    color: #2c3e50;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid #919191;
    overflow: hidden;
    line-height: 50px;
    height: 50px;
    text-align: center;
    // margin:5px;
    width: 200px;
    cursor: pointer;
    background:transparent;
    border-radius: 4px;
            
   
            
    }

.s-48_new {
    margin-left: 10px;
    font-size: 40px !important;
    width: 48px !important;
    height: 48px !important;
    min-width: 48px !important;
    min-height: 48px !important;
    line-height: 48px !important;
    &:hover{
        cursor: pointer;
    }
    
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  