<div id="reset-password" fxLayout="column" fusePerfectScrollbar>

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="reset-password-form">

            <div class="logo" style = "display: flex;">
                <img src="assets/images/logos/water.png" style = "width: 38px; height: 38px; margin-top: 9px;">
                <div class="title">Sprinkler</div>
            </div>
            <div *ngIf="tokenValidationResponse.status && resetPasswordResponse ==''; else invalidLink">
                <div class="title">RESET YOUR PASSWORD</div>

                <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" [disabled]="true">
                        <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="password" placeholder="New Password" formControlName="password">
                        <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="password" placeholder="New Password (Confirm)" formControlName="passwordConfirm">
                        <mat-error *ngIf="resetPasswordForm.controls['passwordConfirm'].hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls['passwordConfirm'].hasError('passwordsNotMatch')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" [disabled]="isSubmitting" (click)="resetPassword()">
                        RESET MY PASSWORD
                    </button>
                    
                </form>

                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
                </div>
            </div>
            <div *ngIf="resetPasswordResponse !==''">
                <mat-error *ngIf="resetPasswordResponse.status === false">
                    Error - {{ resetPasswordResponse.message }}
                </mat-error>
                <p *ngIf="resetPasswordResponse.status === true" style="color: green; text-align: center;">
                    {{ resetPasswordResponse.message }}
                </p>
            </div>
            <ng-template #invalidLink>
                <mat-error *ngIf="tokenValidationResponse.email.name === 'JsonWebTokenError'">
                    <h4>Invalid Link. Please use below link to rest your password</h4>
                </mat-error>
                <mat-error *ngIf="tokenValidationResponse.email.name == 'TokenExpiredError'">
                    <h4>Link has been expired. Please use below link to rest your password</h4>
                </mat-error>
                <div class="login" fxLayout="row" fxLayoutAlign="center center" *ngIf="tokenValidationResponse.email.name === 'JsonWebTokenError' || tokenValidationResponse.email.name == 'TokenExpiredError'">
                    <a class="link" [routerLink]="'/pages/auth/forgot-password'">Forgot Password</a>
                </div>
                <div class="login" fxLayout="row" fxLayoutAlign="center center" *ngIf="resetPasswordResponse !=='' && resetPasswordResponse.status">
                    <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
                </div>
            </ng-template>


        </div>

    </div>

</div>